/* LIGHT THEME */
#themes , #viewer , #thumb-bar, #author , #attributions {

    background: rgb(255, 255, 255);
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(8.5px); */
    /* -webkit-backdrop-filter: blur(8.5px); */
    border: 1px solid rgba(104, 104, 104, 0.35);
}


a , a:link,  a:visited  , a:focus, .author-name {
    text-decoration : none !important;
    color:#404040 !important;
}